BasedOnStyle: Google
AccessModifierOffset: -2
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 96
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
RequiresClausePosition: OwnLine
IndentRequiresClause: false
SpaceAfterTemplateKeyword: false
SortIncludes: CaseSensitive
SortUsingDeclarations: false
CommentPragmas: "^/"
Standard: Latest
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '".*"'
    Priority: 0
  - Regex: '"mpi.h"'
    Priority: 1
  - Regex: "<.*>"
    Priority: 2